@model EBCJobPortalAdmin.ViewModel.JobModel

@{
    ViewData["Title"] = "Create Jobs";
}
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-5 align-self-center">
            <h4 class="page-title">Vacancies</h4>
        </div>
        <div class="col-7 align-self-center">
            <div class="d-flex align-items-center justify-content-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-action="Index">Vacancies</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Vacancies</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <form asp-action="Create">
                    <div class="card-body">
                        <div class="col-md-8">

                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="JobTitle" class="control-label">Position title</label>
                                <input asp-for="JobTitle" class="form-control" />
                                <span asp-validation-for="JobTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="JobDescription" class="control-label">Description</label>
                                <textarea asp-for="JobDescription" class="form-control"></textarea>
                                <span asp-validation-for="JobDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PostedDate" class="control-label">Posted date</label>
                                <input asp-for="PostedDate" class="form-control" />
                                <span asp-validation-for="PostedDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExpiredDate" class="control-label">Expiry Date</label>
                                <input asp-for="ExpiredDate" class="form-control" />
                                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                            <a asp-action="Index">Back to List</a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/assets/libs/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea#JobDescription',
            height: 300,
            plugins: [
                "advlist", "anchor", "autolink", "charmap", "code", "fullscreen",
                "help", "image", "insertdatetime", "link", "lists", "media",
                "preview", "searchreplace", "table", "visualblocks",
            ],
            toolbar: 'undo redo | link image | code',
            /* enable title field in the Image dialog*/
            image_title: true,
            /* enable automatic uploads of images represented by blob or data URIs*/
            automatic_uploads: true,
            /*
              URL of our upload handler (for more details check: https://www.tiny.cloud/docs/configure/file-image-upload/#images_upload_url)
              images_upload_url: 'postAcceptor.php',
              here we add custom filepicker only to Image dialog
            */
            file_picker_types: 'image',
            /* and here's our custom image picker*/
            file_picker_callback: (cb, value, meta) => {
                const input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.addEventListener('change', (e) => {
                    const file = e.target.files[0];

                    const reader = new FileReader();
                    reader.addEventListener('load', () => {
                        /*
                          Note: Now we need to register the blob in TinyMCEs image blob
                          registry. In the next release this part hopefully won't be
                          necessary, as we are looking to handle it internally.
                        */
                        const id = 'blobid' + (new Date()).getTime();
                        const blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        const base64 = reader.result.split(',')[1];
                        const blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        /* call the callback and populate the Title field with the file name */
                        cb(blobInfo.blobUri(), { title: file.name });
                    });
                    reader.readAsDataURL(file);
                });

                input.click();
            },
            content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }'
        });
        </script>
}
