@inject IHttpContextAccessor _context;
@{

    string filepath = @ViewBag.path;

}

<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a asp-action="@ViewBag.action" asp-controller="@ViewBag.controller">
                            <i class="bi bi-backspace-fill"></i>
                        Back to list
                        </a>
                    </div>
                    <div class="card-body">
                        @try
                        {
                            <div class="row">
                                <div class="error-content">
                                    <h3><i class="fas fa-exclamation-triangle text-warning"></i>File not found</h3>
                                    <p>
                                       Can't open file
                                    </p>
                                </div>
                            </div>
                        }
                        catch (Exception ex)
                        {
                            <div class="row">
                                <div class="error-content">
                                    <h3><i class="fas fa-exclamation-triangle text-warning"></i>File can't found</h3>
                                    <p>
                                       Can not open
                                        because of @ex.Message
                                    </p>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


